/* You can add global styles to this file, and also import other style files */
html, body {
    height: 100vh;
    background-color: rgb(244, 244, 242);

    margin: 0px;
    padding: 0px;
}

* {
    box-sizing: border-box;
}

.form {
    display: block;
    width: 90%;
    margin: auto;
    margin-top: 2rem;
    padding: 1rem;
    
    background-color: white;
    box-shadow: 8px 8px 10px rgb(177, 176, 176), -2px -2px 5px rgba(177, 176, 176, 0.5);
}

.logo {
    display: block;
    width: 100%;
    max-width: 150px;
    height: auto;

    margin: auto;
    margin-top: 2.5rem;
    margin-bottom: 1rem;

    background-color: white;
    border-radius: 50%;
}

.btn-danger {
    background-color: rgb(232, 40, 66);
    border: none;
    color: white;
}

.btn-primary {
    background-color: rgb(07, 79, 208);
    border: none;
    color: white;
}

.last {
    margin-bottom: 2rem;
}

/*  Light grey font */
.font-one {
    color: rgb(128, 129, 132);
}

.font-white {
    color: white;
}

/*  Chrome, Firefox, Opera, Safari 10.1+    */
::placeholder {
    color: rgba(146, 148, 151, 0.8);
}
/*  Internet Explorer 10-11 */
:-ms-input-placeholder {
    color: rgba(146, 148, 151, 0.8);
}
/*  Microsoft Edge  */
::-ms-input-placeholder {
    color: rgba(146, 148, 151, 0.8);
}

@media only screen and (min-width: 600px) {

}

@media only screen and (min-width: 768px) {

}