/* You can add global styles to this file, and also import other style files */
html, body {
    height: 100vh;
    background-color: rgb(244, 244, 242);

    margin: 0px;
    padding: 0px;
}

* {
    box-sizing: border-box;
}

.form {
    display: block;
    width: 90%;
    margin: auto;
    margin-top: 2rem;
    padding: 1rem;
    
    background-color: white;
    box-shadow: 8px 8px 10px rgb(177, 176, 176), -2px -2px 5px rgba(177, 176, 176, 0.5);
}

.logo {
    display: block;
    width: 100%;
    max-width: 150px;
    height: auto;

    margin: auto;
    margin-top: 3rem;
    margin-bottom: 1rem;

    background-color: white;
    border-radius: 50%;
}

.red-btn, .blue-btn {
    display: block;
    width: 80%;
    margin: auto;
    margin-top: 2rem;
    height: 2rem;
}

.red-btn {
    background-color: rgb(232, 40, 66);
    border: none;
    color: white;
}

.blue-btn {
    background-color: rgb(07, 79, 208);
    border: none;
    color: white;
}

.last {
    margin-bottom: 2rem;
}

/*  Light grey font */
.font-one {
    color: rgb(128, 129, 132);
}

.font-white {
    color: white;
}

/*  Chrome, Firefox, Opera, Safari 10.1+    */
::placeholder {
    color: rgba(146, 148, 151, 0.8);
}
/*  Internet Explorer 10-11 */
:-ms-input-placeholder {
    color: rgba(146, 148, 151, 0.8);
}
/*  Microsoft Edge  */
::-ms-input-placeholder {
    color: rgba(146, 148, 151, 0.8);
}

/*  Mobile Phones   */
[class*="col-"] {
    width: 100%;
}

@media only screen and (min-width: 600px) {
    /*  Tablets */
    .col-s-1 { width: 8.33%; }
    .col-s-2 { width: 16.66%; }
    .col-s-3 { width: 25%; }
    .col-s-4 { width: 33.33%; }
    .col-s-5 { width: 41.66%; }
    .col-s-6 { width: 50%; }
    .col-s-7 { width: 58.33%; }
    .col-s-8 { width: 66.66%; }
    .col-s-9 { width: 75%; }
    .col-s-10 { width: 83.33% }
    .col-s-11 { width: 91.66% }
    .col-s-12 { width: 100% }

    .logo {
        max-width: 200px;
    }
}

@media only screen and (min-width: 768px) {
    /*  PC  */
    .col-1 { width: 8.33%; }
    .col-2 { width: 16.66%; }
    .col-3 { width: 25%; }
    .col-4 { width: 33.33%; }
    .col-5 { width: 41.66%; }
    .col-6 { width: 50%; }
    .col-7 { width: 58.33%; }
    .col-8 { width: 66.66%; }
    .col-9 { width: 75%; }
    .col-10 { width: 83.33% }
    .col-11 { width: 91.66% }
    .col-12 { width: 100% }

    /*  PC Styling  */

    .form {
        width: 50%;
    }

    .logo {
        max-width: 250px;
    }

    .red-btn, .blue-btn {
        width: 40%;
    }
}