<nav class="navbar last">
    <div class="container-fluid">
        <div class="row nav-brand">
            <p class="font-white back-tab mx-3"><b><</b></p>
            <p class="font-white back-tab">My Profile</p>
        </div>
        <div class="row">
            <div class="col float-right text-center mr-4">
                <img class="user-icon" src="/assets/img/thumbnail_User_Icon_Blue.png" alt="user icon"><br>
                <span class="font-white">name</span>
            </div>
        </div>
    </div>
</nav>

<!--
<div class="container-fluid h-25">
    <div class="row back-tab d-flex h-50">
        <div class="align-self-center">
            <button  type="button" class="btn btn-link back-btn pb-3 mx-4"><b><</b></button>
        </div>
        <div class="align-self-center">
            <h1 class="heading">My Profile</h1>
        </div>
        <div class="align-self-center w-75">
            <img class="user-icon float-right" src="/assets/img/thumbnail_User_Icon_Blue.png" alt="user icon">
        </div>
    </div>
</div>
-->
<div id="parent" class="container">
    <div class="row">
        <div class="col-xl-6 col-lg-6 col-md-8 col-sm-10 mx-auto">
            <form action="" class="justify-content-center">
                <div class="form-group">
                    <label>Username</label>
                    <input type="text" class="form-control" placeholder="username">
                </div>
                <div class="form-group">
                    <label>Password</label>
                    <input type="password" class="form-control" placeholder="password">
                </div>
                <div class="form-group">
                    <label>Name</label>
                    <input type="text" class="form-control" placeholder="name">
                </div>
                <div class="form-group">
                    <label>Discipline</label>
                    <input type="text" class="form-control" placeholder="discipline">
                </div>
                <div class="form-group">
                    <label>Email</label>
                    <input type="email" class="form-control" placeholder="email">
                </div>
                <div class="form-group">
                    <label>Address</label>
                    <textarea type="text" class="form-control" placeholder="address"></textarea>
                </div>
                <button class="blue-btn last" type="submit" value="submit">Save</button>
            </form>
        </div>
    </div>
</div>
