.back-btn {
    font-size: xx-large;
    color: white;
}

.user-icon {
    width: 25px;
    height: 25px;
}

.back-tab {
    font-size: xx-large;
}

nav {
    background-color: blue;
}

.jumbotron {
    background-color: white;
    box-shadow: 8px 8px 10px rgb(177, 176, 176), -2px -2px 5px rgba(177, 176, 176, 0.5);
}

.dot {
    font-size: 30px;
    color: rgb(132, 129, 27);
    margin: 0px 5px 0px 5px;
}