<nav class="navbar last">
    <div class="container-fluid">
        <div class="row nav-brand">
            <p class="font-white back-tab mx-3"><b><</b></p>
            <p class="font-white back-tab">ADMINISTRATOR</p>
        </div>
    </div>
</nav>

<div>
    <img class="logo" src="/assets/img/thumbnail_Admin_Icon_Gold.png" alt="Administrator Logo">
</div>

<p class="font-one text-center">Welcome "First Name"</p>

<div class="container w-50">
    <div class="jumbotron my-auto">
        <div class="row">
            <div class="col-8 justify-content-around d-flex flex-column mx-auto">
                <button type="button" class="btn btn-danger mb-2">
                    Refer a Client
                </button>
                <button type="button" class="btn btn-danger mb-2">
                    Update HC Providers
                </button>
                <button type="button" class="btn btn-danger mb-2">
                    Update Employees
                </button>
                <div class="mx-auto">
                    <span class="dot">&#8226;</span>
                    <span class="dot">&#8226;</span>
                    <span class="dot">&#8226;</span>
                </div>
                <button type="button" class="btn btn-primary mb-2">
                    Update Employees
                </button>
            </div>
        </div>
    </div>
</div>