
<div>
    <img class="logo" src="/assets/img/thumbnail_Admin_Icon_Gold.png" alt="Administrator Logo">
</div>

<p class="font-one">Welcome "First Name"</p>

<div>
    <form class="form">
        <button class="red-btn"><b>
            Refer a Client
        </b></button><br>
        <button class="red-btn"><b>
            Update HC Providers
        </b></button><br>
        <button class="red-btn"><b>
            Update Employees
        </b></button><br>
        <div class="dots">
            <span class="flex-item">&#8226;</span>
            <span class="flex-item">&#8226;</span>
            <span class="flex-item">&#8226;</span>
        </div>
        <button class="blue-btn"><b>
            My Profile
        </b></button>
    </form>
</div>
