p {
    text-align: center;
}

button {
    margin-top: 0px !important;
    margin-bottom: 0px !important;
}

span {
    color: rgb(132, 129, 27);
}

.dots {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: auto;
    width: 10%;
}