
.flex-container {
    display: flex;
    align-self: center;
}

form {
    position: absolute;
    width: 75vw;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;

    background-color: white;

    z-index: 3;
}

.border {
  border: 1px solid gray;
  border-radius: 5px;
}

.pencil {
    width: 40px;
    height: 40px;
}

input[type=checkbox] {
    transform: scale(2);
}