nav {
    background-color: rgb(232, 40, 66);
}

.back-tab {
    font-size: xx-large;
}

.user-icon {
    width: 35px;
    height: 25px;
}

.search-bar {
    border: none;
    border-radius: 8px;
    text-indent: 15px;

    box-shadow: 8px 8px 10px rgb(177, 176, 176), -2px -2px 5px rgba(177, 176, 176, 0.5);
}

.pencil {
    width: 15px;
    height: 15px;
}

.table:nth-child(odd) {
    background-color: rgb(228, 232, 239);
}