<div class="container">
    <div class="row">
        <img id="hannah-heart" class="mt-5 mx-auto d-block img-fluid" src="/assets/img/HannaLogo.png" alt="Hannahs Heart Logo">
    </div>
</div>

<div class="container">
    <div class="row">
        <div>
            <p class="mb-0 mt-4 ml-3">Non members please return to</p>
            <button type="button" class="btn btn-link my-0 mx-3 p-0">Find a Professional</button>
        </div>
    </div>
</div>

<div class="container">
    <form action="" class="my-3 py-5">
        <input id="userName" class="w-75 h-75 mb-3 mx-auto d-flex" name="userName" type="text" placeholder="Username">
        <input id="password" class="w-75 h-75 mx-auto d-flex" name="password" type="text" placeholder="Password">
    </form>
    <button type="button" class="float-right btn btn-link">Forgot your password?</button><br>
    <div class="row w-100">
        <div class="col text-center">
            <button type="submit" class="btn btn-danger mt-3 mx-auto w-25">Login</button>
        </div>
    </div>
</div>