#logo {
    display: block;
    width: 100%;
    max-width: 150px;
    height: auto;

    margin: auto;
}

.partition {
    background-color: white;
    box-shadow: 8px 8px 10px rgb(177, 176, 176), -2px -2px 5px rgba(177, 176, 176, 0.5);
}

nav {
    background-color: rgb(232, 40, 66);
}

.back-tab {
    font-size: xx-large;
}

.user-icon {
    width: 25px;
    height: 25px;
}