<!--    Todo    
    1. need to build address search input field.
-->
<div>
  <img src="/assets/img/HannaLogo.png" alt="Applications Logo">
</div>
<div>
  <p>Please fill in your information below to find a mental health professional in your area.</p>
</div>
<div>
  <!--    Languages Form  ------------------------------------------------------------------------------>
  <form class="form">
      <p><b>Preferred Languages(s)</b></p>
      <div>
          <input type="checkbox" name="english" value="english"><label for="english"> English</label><br>
          <input type="checkbox" name="french" value="french"><label for="french"> French</label><br>
      </div>
      <div class="dropdown">
          <span>Select</span>
          <div class="dropdown-content">
              <p>placeholder</p>
              <p>placeholder</p>
              <p>placeholder</p>
          </div>
      </div>
  </form>
  <!--    Gender Form     ------------------------------------------------------------------------------>
  <form class="form">
      <p><b>Your Gender</b></p>
      <div class="gender-container">
          <input type="radio" name="gender" value="Female"><label for="Female">Female</label><br>
          <input type="radio" name="gender" value="Male"><label for="Male">Male</label><br>
          <input type="radio" name="gender" value="Trans Female"><label for="Trans Female">Trans Female</label><br>
          <input type="radio" name="gender" value="Trans Male"><label for="Trans Male">Trans Male</label><br>
          <input type="radio" name="gender" value="Other"><label for="Other">Other</label><br>
      </div>
  </form>
  <!--    DOB Form        ------------------------------------------------------------------------------>
  <form class="form">
      <div class="dob">
          <input type="date">
      </div>
  </form>
  <!--    Treatment type  ------------------------------------------------------------------------------>
  <form class="form">
      <div>
          <p>What is treatment being sought for?</p>
          <div class="dropdown">
              <span>Select</span>
              <div class="dropdown-content">
                  <p>placeholder</p>
                  <p>placeholder</p>
                  <p>placeholder</p>
              </div>
          </div>
      </div>
  </form>
  <!--    Address     ---------------------------------------------------------------------------------->
  <form class="form">
      <div>
          <p><b>Address</b></p>
      </div>
  </form>
  <!--    Travel radius   ------------------------------------------------------------------------------>
  <form class="form last">
      <div>
          <p><b>Travel Radius</b></p>
          <div>
              <input type="radio" name="distance" value="0-2"><label for="0-2">0-2 km</label><br>
              <input type="radio" name="distance" value="2-20"><label for="2-20">2-20 km</label><br>
              <input type="radio" name="distance" value="20plus"><label for="20plus">> 20 km</label><br>
          </div>
      </div>
  </form>
</div>

