<nav class="navbar last">
    <div class="container-fluid">
        <div class="row nav-brand">
            <p class="font-white back-tab mx-3"><b><</b></p>
            <p class="font-white back-tab">Update HC Provider</p>
        </div>
        <div class="row">
            <div class="col float-right text-center mr-4">
                <img class="user-icon" src="/assets/img/thumbnail_Admin_Icon_Gold.png" alt="user icon"><br>
                <span class="font-white">name</span>
            </div>
        </div>
    </div>
</nav>

<div class="container">
    <div class="row">
        <div class="col">
            <button class="btn float-right mt-3">Add Provider <span class="text-primary">+</span></button>
        </div>
    </div>
    <div class="row">
        <div class="col-xl-8 col-lg-8 col-md-10 col-sm-10 mx-auto">
            <input class="search-bar form-group w-100 h-100" type="text" placeholder="Search by Name">
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div id="alphabet-search" class="mt-4 d-flex justify-content-center">
            <button class="btn btn-sm btn-outline text-white d-flex" *ngFor="let letter of alphaList">
                {{letter}}
            </button>
        </div>
    </div>
</div>

<div class="container-fluid p-0">
    <div class="row mt-4 w-100">
        <div class="col-10">
            
        </div>
        <div class="col-1">
            <p class="text-center">Gender</p>
        </div>
        <div class="col-1">

        </div>
    </div>
    <div id="doctor-list">
        <div class="row table w-100" *ngFor="let doctor of doctorsList;">
            <div class="col-10">
                <p class="ml-3 mb-0"><img class="pencil mr-2" src="/assets/img/thumbnail_Pencil_Icon_Gold.png" alt="">
                    <button class="btn btn-link p-0 mb-1">{{doctor.lastName}}</button>, {{doctor.fistName}}
                </p>
                <p class="ml-5 mb-0">{{doctor.specialty}}</p>
            </div>
            <div class="col-1">
                <p class="text-center">{{doctor.gender}}</p>
            </div>
            <div class="col-1">
                <p>G</p> <!-- Need to get a trash can image-->
            </div>
        </div>
    </div>
</div>

<!--
<table class="table table-sm">
    <thead>
        <tr>
            <th scope="col" width="3%"></th>
            <th scope="col" width="77%"></th>
            <th scope="col" width="10%" class="text-center">Gender</th>
            <th scope="col" width="10%"></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let doctor of doctorsList;">
            <th scope="row">
                <img class="pencil ml-2 mt-2" src="/assets/img/thumbnail_Pencil_Icon_Gold.png" alt="">
            </th>
            <td>
                <button class="btn btn-link p-0 mb-1 ml-3">{{doctor.lastName}}</button>, {{doctor.fistName}}
                <p class="ml-4">{{doctor.specialty}}</p>
            </td>
            <td class="text-center">{{doctor.gender}}</td>
            <td></td>
        </tr>
    </tbody>
</table>
-->