<nav class="navbar last">
    <div class="container-fluid">
        <div class="row nav-brand">
            <p class="font-white back-tab mx-3"><b><</b></p>
            <p class="font-white back-tab">Update HC Provider</p>
        </div>
        <div class="row">
            <div class="col float-right text-center mr-4">
                <img class="user-icon" src="/assets/img/thumbnail_Admin_Icon_Gold.png" alt="user icon"><br>
                <span class="font-white">name</span>
            </div>
        </div>
    </div>
</nav>

<div class="container">
    <div class="row">
        <div class="col">
            <button class="btn float-right mt-3">Add Provider <span class="text-primary">+</span></button>
        </div>
    </div>
    <div class="row">
        <div class="col-xl-8 col-lg-8 col-md-10 col-sm-10 mx-auto">
            <input class="w-100" type="text" placeholder="Search by Name">
        </div>
    </div>
</div>