<div class="row">
    <div class="col-3"></div>
    <div class="col-6 text-center">
        <div class="delete-container">
            <!--    Need to replace this with a trash can Icon  -->
            <div class="text-center">
                <img class="my-4 pencil" src="/assets/img/thumbnail_Pencil_Icon_Gold.png" alt="">
            </div>
            <p>Are you sure you wish to <span class="font-weight-bold">Delete</span></p>
            <!--    Need to pass in the name when delete icon is pressed -->
            <p>Placeholder, Name</p>
            <p>from the database</p>
            <p class="font-weight-bold">This cannot be undone!</p>
            <div class="row mx-auto">
                <div class="text-center w-100 mb-5">
                    <button class="btn btn-primary w-25 mx-2">Cancel</button>
                    <button class="btn btn-danger w-25 mx-2">Yes, Delete</button>
                </div>
            </div>
        </div>
    </div>
    <div class="col-3"></div>
</div>
